.body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

#header-nav{
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
#logo-img{
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}
.star {
  width: 25px;
  height: 25px;
  margin: 10px 15px 10px 0;
  filter: drop-shadow(2px 4px 6px black);
}

.company{
  color: white;
  font-size: 2.5em;
  font-weight: bold;
}
 #nav-list{
   margin: 10px 0 0 0;
 }
 #nav-list a{
   color: #951c49;
   text-align: center;
 }
 #nav-list a:hover{
   color: #e7e7e7;
 }
 #nav-list a span{
   font-size: 1.8em;
 }
{
   margin: 5px 0 0 0;
 }
 #phone a{
   text-align: right;
   padding-bottom: 0;
 }
 #phone div {
   color: #557c3e;
   text-align: right;
   padding: 0 15px 0 0;
 }

 button.navbar-toggle, .navbar-header .icon-bar{
   clear: both;
   margin-bottom: 2em;
   margin-top: -1rem;
 }
 .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    /* border-color: #e7e7e7; */
    border-style: none;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 25px 0 0 0;
}
/* #collapsable-nav */
div#collapsable-nav.navbar-collapse.pull-right.collapse.show{


    top: 4rem;

}
div#collapsable-nav.collapse.navbar-collapse.pull-right{
  position: relative;
  bottom: 7em;
}

.mainimage{
  text-align: center;
  position: relative;
  right: 213px;
  padding: 50px;
}
.mainimage img {
  text-align: center;
    box-shadow: 0 0 50px #000000;
    margin-left: 21rem;
    border-radius: 10px;
    width: 1200vh;
    filter: drop-shadow(-5px 22px 11px black);
}

#menu-title, #menu-title2, #map-tile{
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3f0c1f;
  overflow: hidden;
  border-radius: 10px;

}
#menu-title:hover, #menu-title2:hover, #map-tile:hover{
box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-title{
  background-image:url("images/fishsalad.png");
  background-position: center;
  background-repeat: no-repeat;
}
#menu-title2{
  background-image:url('images/beers.png');
  background-position: center;
  background-repeat: no-repeat;
}
#menu-title span, #menu-title2 span, #map-tile span{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
  border-radius: 5px;
}

footer.panel-footer {
  margin: 30px 0 0 0;
  padding: 35px 0 30px 0;
  background-color: #222;
  border: 0
}

.panel-footer div.row{
  margin: 0 0 35px 0;
}
#hours, #address{
  line-height: 2;
}
#hours > span, #address > span {
  font-size:  1.3em;
}

#address p {
  color: #557c3e;
  line-height: 1.8;
}
#testimonials{
  font-style: italic;
}

#testimonials p:nth-child(2){
  margin: 25px 0 0 0;
}

/*menu page css*/

.category-title{
  position: relative;
  border: 2px solid #3f0c1f;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
  border-radius: 10px;
}
.category-title span{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  opacity: .8;
  color: white;
  border-radius: 10px;
}

.category-title:hover{
  box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-categories-title + div{
  margin: 0 0 50px 0;
}


/*end of menu page css*/

/*start of single category page css*/

/*end of single category page css*/
#menu-item-tile {
  margin: 0 0 25px 0;
}
.menu-item-tile hr{
  width: 80%;
}
.menu-item-tile .menu-item-price{
  font-size: 1.1em;
  text-align: right;
 margin: -4px 41px 0 0;
}
.menu-item-tile .menu-item-price span{
  font-size: .6em;
}
.menu-item-photo {
  position: relative;
  border: 2px solid #3f0c1f;
  overflow: hidden;
  padding: 0;
  margin: 0 auto 20px 15px;
  max-width: 250px;
}
.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}
.menu-item-description{
  padding: 0 30px 0 0;
}
h3.menu-item-title{
  margin: 0 0 10px;
}
.menu-item-details{
  font-size: .9em;
  font-style: italic;
}
section.row {
    margin-right: 0px;
    margin-left: 0px;
}
/*end of single category page css*/









/* #menu-title span{
  font-size: 2em;
    font-weight: bold;
    position: absolute;
    bottom: 0.3em;
    color: white;
    padding: 10px 190px;
    background-color: black;
    border-radius: 10px;
    filter: opacity(0.7);
}
#menu-title2 span{
      font-size: 2em;
      font-weight: bold;
      position: absolute;
      bottom: 0.3em;
      color: white;
      padding: 0px 132px;
      background-color: black;
      border-radius: 10px;
      filter: opacity(0.7);
      left: 2.5em;
      text-align: center;
} */


/* #menulist1{
  border-color: black;
border: 10px solid;
width: 470px;
height: auto;
filter: drop-shadow(2px 4px 6px black);
border-radius: 25px;
}
#menulist2{

    border: 10px solid;
    width: 491px;
    height: auto;
    filter: drop-shadow(2px 4px 6px black);
    border-radius: 25px;
    margin: 0 0 0 61px;
}
img#menulist1, img#menulist2 {
  border-color: black;
  padding: 0 35px;
}
#map-container-google-1 {


    filter: drop-shadow(8px 31px 16px black);
    border-radius: 25px;
    margin: 106px 0 0 123px;
    padding: 0 35px;
}
#menu-title3 span{
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    bottom: -2.6999999999999993em;
    color: white;
    left: 4em;
} */

@media (min-width: 1200px) and (max-width:2560px) {
div.row{}
  .menu-item-tile .menu-item-price {
    font-size: 1.1em;
    text-align: right;
    margin: -4px 21px 0 0;
}

}
@media (min-width:992px) and (max-width: 1199px) {
  #logo-img {
    width:75px;
    height:75px;
    margin: 23px 5px 5px 0;
  }
  div.row{
    padding-bottom: 6rem;
  }

}
@media (min-width:768px) and (max-width: 991px) {
  div.row{
    padding-bottom: 7rem;
  }
  .company {
    color: white;
    font-size: 2em;
    font-weight: bold;
}
.menu-item-tile .menu-item-price {
    font-size: 1.1em;
    text-align: right;
    margin: -4px 116px 0 0;
}
div#collapsable-nav.collapse.navbar-collapse.pull-right{
  position: relative;
  bottom: 3em;
}

}
@media (min-width:451px) and (max-width: 767px) {
  div.row{
    padding-bottom: 6rem;
  }
  .company {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}
p {
    margin: 0 0 10px;
    font-size: 1em;
}
span.setstar{
  position: absolute;
  margin: 22px 20px 0 -135px;

}
#collapsable-nav a {
  font-size:1.2em;
}
#collapsable-nav a span{
  font-size:1em;
}
#menu-title, #menu-title2, #map-tile {
    height: 250px;
    width: 50%;
    position: relative;
    border: 2px solid #3f0c1f;
    overflow: hidden;
    margin: 10px 0 10px 84px;
    border-radius: 10px;
    background-size: 300px;
}

.panel-footer section{
  margin:0 0 30px 0;
  text-align: center;
}
.panel-footer section:nth-child(3) {
  margin-bottom: 0;
}
.panel-footer section hr{
  width: 50%;
}
.menu-item-tile .menu-item-price {
    font-size: 1.1em;
    text-align: right;
    margin: -4px 448px 0 0;
}


}

@media ( max-width: 440px ){
  #col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 100%;
  }
  .panel-footer section{
    margin:0 0 30px 0;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0;
  }
  .panel-footer section hr{
    width: 50%;
  }
  .company {
    color: white;
    font-size: 1em;
    font-weight: bold;
}
span.setstar {
    position: absolute;
    top: 101px;
    left: 10px;
}
.menu-item-tile .menu-item-price {
    font-size: 1.1em;
    text-align: right;
    margin: -4px 59px 10px 0;
}

}
