.body{
  font-size: 16px;
  color: #fff;
  background-color: rgb(27, 19, 22);
  font-family: 'Oxygen', sans-serif;
}
a.nav-link:hover{
    background-color: pink;
    border-style: solid;
    border-radius: 25px;
    filter: drop-shadow(1px 7px 3px #8a1538);
    }

#logo-img {
  width: 100px;
  height: 100px;
  margin: 23px 5px 5px 0;
  }
  h1.text-center{
    margin: 100px;
  }

  div#navbarNav.navbar-collapse.collapse{
     font-size: 1.8em
  }
button.carousel-control-prev{
  background-color: #180512;;
  border-style: none;
}
span.carousel-control-prev-icon{
  height: 10% !important;
  width:  100% !important;
}
button.carousel-control-next{
  background-color: #180512;
  border-style: none;
}
span.carousel-control-next-icon{
  height: 10% !important;
  width:  100% !important;
}

div#navbarNav.navbar-collapse.collapse{
  text-align: center;
    width: 100%;
}
div#navbarNav.navbar-collapse.collapse:hover{
  color: rgb(242 191 99);
}
a.navbar-brand{
  color:grey;
  font-size: 2.8em;
  font-weight: bold;
}


.mainimage{
  text-align: center;
  position: relative;
  right: 213px;
  padding: 50px;
}
.mainimage img {
  text-align: center;
 box-shadow: 0 0 50px #000000;
 margin-left: 15rem;
 border-radius: 10px;
 width: 100%;
 filter: drop-shadow(-5px 22px 11px black);
}

#menu-title, #menu-title2{
  height: 490px;
  width: 80%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3f0c1f;
  overflow: hidden;
  border-radius: 10px;

}
#map-tile{
  height: 490px;
  width: 50%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3f0c1f;
  overflow: hidden;
  border-radius: 10px;
}

div#map-tile{
    text-align: center;
    width: 80%;
}

#menu-title:hover, #menu-title2:hover, #map-tile:hover{
box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-title{
  background-image:url("images/fishsalad.png");
  background-position: center;
  background-repeat: no-repeat;

}
#menu-title2{
  background-image:url('images/beers.png');
  background-position: center;
  background-repeat: no-repeat;
}
#menu-title span, #menu-title2 span, #map-tile span{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
  border-radius: 5px;
}
#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #180512;
  color: #ffff;
  position: relative;
  z-index: 1;

}

.carousel-item img#testimonial-images {
    border-radius: 100%;
    height: 115px;
    width: 65px;
    margin: 76px 0 0 -11px;
}

#press {
  background-color: #1b1316;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 50px 50px;
  margin-left: 50px
}

.carousel-item {
  padding: 7% 15%;
}



/*form css*/
.form-background{
  background-image:url('images/table.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1201px 479px;
  background-color: #000;

}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

h5.card-title, div.card-body{
  color: black;
}


footer.panel-footer {
  margin: 30px 0 0 0;
  padding: 35px 0 30px 0;
  background-color: #222;
  border: 0
}

.panel-footer div.row{
  margin: 0 0 35px 0;
}
#hours, #address{
  line-height: 2;
}
#hours > span, #address > span {
  font-size:  1.3em;
}

#address p {
  color: #557c3e;
  line-height: 1.8;
}
#testimonials2{
  font-style: italic;
}

#testimonials2 p:nth-child(2){
  margin: 25px 0 0 0;
}

/*menu page css*/

.category-title{
  position: relative;
  border: 2px solid #3f0c1f;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
  border-radius: 10px;
}
.category-title span{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  opacity: .8;
  color: white;
  border-radius: 10px;
}

.category-title:hover{
  box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-categories-title + div{
  margin: 0 0 50px 0;
}


/*end of menu page css*/

/*start of single category page css*/

/*end of single category page css*/
#menu-item-tile {
  margin: 0 0 25px 0;
}
.menu-item-tile hr{
  width: 80%;
}
.menu-item-tile .menu-item-price{
  font-size: 1.1em;
  text-align: right;
 margin: -4px 41px 0 0;
}
.menu-item-tile .menu-item-price span{
  font-size: .6em;
}
.menu-item-photo {
  position: relative;
  border: 2px solid #3f0c1f;
  overflow: hidden;
  padding: 0;
  margin: 0 auto 20px 15px;
  max-width: 250px;
}
.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}
.menu-item-description{
  padding: 0 30px 0 0;
}
h3.menu-item-title{
  margin: 0 0 10px;
}
.menu-item-details{
  font-size: .9em;
  font-style: italic;
}
section.row {
    margin-right: 0px;
    margin-left: 0px;
}

/*end of single category page css*/

/*about page css*/

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/*end of page css*/


/*start of awards page css*/
.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}



.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*end awards page css*/






@media (min-width: 1200px) and (max-width:2560px) {
div.row{}
  .menu-item-tile .menu-item-price {
    font-size: 1.1em;
    text-align: right;
    margin: -4px 21px 0 0;
}

}
@media (min-width:992px) and (max-width: 1199px) {
  #logo-img {
    width: 100px;
    height: 100px;
    margin: 23px 5px 5px 0;
    }
  div.row{
    padding-bottom: 6rem;
  }

}
@media (min-width:768px) and (max-width: 991px) {
  div.row{
    padding-bottom: 7rem;
  }
  .company {
    color: white;
    font-size: 2em;
    font-weight: bold;
}
.menu-item-tile .menu-item-price {
    font-size: 1.1em;
    text-align: right;
    margin: -4px 116px 0 0;
}
div#collapsable-nav.collapse.navbar-collapse.pull-right{
  position: relative;
  bottom: 3em;
}

}
@media (min-width:456px) and (max-width: 767px) {
  div.row{
    padding-bottom: 6rem;
  }
  .company {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}
#logo-img {
  width: 75px;
  height: 75px;
  margin: 23px 5px 5px 0;
  }
p {
    margin: 0 0 10px;
    font-size: 1em;
}
span.setstar{
  position: absolute;
  margin: 22px 20px 0 -135px;

}
#collapsable-nav a {
  font-size:1.2em;
}
#collapsable-nav a span{
  font-size:1em;
}
#menu-title, #menu-title2, #map-tile {
    height: 250px;
    width: 50%;
    position: relative;
    border: 2px solid #3f0c1f;
    overflow: hidden;
    margin: 10px 0 10px 84px;
    border-radius: 10px;
    background-size: 300px;
}


/*footer css*/
.panel-footer section{
  margin:0 0 30px 0;
  text-align: center;
}
.panel-footer section:nth-child(3) {
  margin-bottom: 0;
}
.panel-footer section hr{
  width: 50%;
}
.menu-item-tile .menu-item-price {
    font-size: 1.1em;
    text-align: right;
    margin: -4px 448px 0 0;
   }
   a.navbar-brand{
     color:grey;
     font-size: 1.8em;
     font-weight: bold;
   }
}


@media (max-width:455px){


  #logo-img {
    width: 75px;
    height: 75px;
    margin: 23px 5px 5px 0;
    }

  .panel-footer section{
    margin:0 0 30px 0;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0;
  }
  .panel-footer section hr{
    width: 50%;
  }
  .menu-item-tile .menu-item-price {
      font-size: 1.1em;
      text-align: right;
      margin: -4px 448px 0 0;
     }
  a.navbar-brand{
    font-size: .9em;
  }



}
